{% include 'header.html' %}
<div class="container pt-5">
    <h1 class="text-center">User Details</h1>
<button type="submit my-3" class="btn btn-dark my-3"><a href="/form" class="text-light">back</a>  </button>

<table class="table table-light table-striped table-bordered">
    <tr class="text-center text-light bg-dark">
        <th>User Id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Message</th>
        <th>Actions</th>
    </tr>
    {% for i  in data%}
        <tr><center>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.mob}}</td>
            <td>{{i.email}}</td>
            <td>{{i.msg}}</td>
            <td class="btn-center">
                <button class="btn btn-success " ><a href="/edit/{{i.id}}" class="text-light">Edit</a></button>
                <button class="btn btn-danger a"><a href="/delete/{{i.id}}" class="text-light">Delete</a></button>
            </td>
        </center>
        </tr>

    {% endfor %}
</table>
</div>
{% include 'footer.html' %}